/* --------------------------
  Base
--------------------------- */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url('svgs_resized/background.svg');
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* --------------------------
  Navigation Menu Styles
--------------------------- */

.navbar li:hover a,
.navbar li:hover svg path {
  color: #D41159;
  fill:  #D41159;
}

.heart-icon,
.location-icon,
.contact-icon {
  transform-origin: 28px 24px;
  transform: scale(0.6) translate(-5px, 10px);
  transition: transform .2s ease-out;
  fill: #39add1;
  height: 28px;
  width: 28px;
}

.heart-icon:hover,
.location-icon:hover,
.contact-icon:hover {
  transform: rotate(-20deg) scale(0.8);
}

/* --------------------------
  Logo Styles
--------------------------- */

.logo-icon svg {
  height: 120px;
  width: 140px;
}

.logo-icon h1 {
  color: #eaaa7f;
  margin: 0;
}

/*Logo Text*/
.st1 {
  fill: transparent;
}

/*Logo Pawprint*/
.st2 {
  fill: #f4c6a6;
}

.st2:hover {
  transform-origin: 50% 50%;
  animation: shrink .5s forwards;
}  

/*Logo Background*/
.logo-icon ellipse {
  fill: #ba8058;
}

/*Keyframes*/
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.75);
  }
  100% {
    transform: scale(1);
  }
}

/* --------------------------
  Corgi Styles
--------------------------- */

.doggo-div svg {
  width: 170px;
  height: 190px;
  padding: 0 10px;
  color: #b97f5b;
}

.doggo-div svg text {
  fill: #b97f5b;
}

.doggo-fawn {
  color: #e9aa82;
}

.doggo-red {
  color: #834b29;
}

.doggo-stone {
  color: #52595e;
}

/* --------------------------
  Media Queries
--------------------------- */

@media screen and (min-width: 425px) {
  .st1 {
    fill: #eaaa7f;
  }
  .logo-icon h1 {
    display: none;
  }
}
